stages:
  - build
  - analyze

build:maven:
  stage: build

  variables: 
    MAVEN_OPTS: >-
      -Dsonar.projectKey=hello-world
      -Dsonar.host.url=$SONAR_URL
      -Dsonar.scm.provider=git
      -Dsonar.login=$SONAR_TOKEN
      
  image: maven:3.6.3-jdk-11
  script: 
    - ping 34.155.124.59
    - mvn sonar:sonar package -U $MAVEN_OPTS
    
analyze:sonar:
  stage: analyze
  image: 
    name: sonarsource/sonar-scanner-cli:4.5 
  variables:
    # Defines the location of the analysis task cache
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    # Shallow cloning needs to be disabled.
    # See https://docs.sonarqube.org/latest/analysis/gitlab-cicd/.
    GIT_DEPTH: 0
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  rules:
    # SonarQube CommunityEdition only supports analyzing a single branch.
    # So only run on main.
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - when: never




